body {
  margin: 0;
  padding: 0;
  background-image: url(https://thumbs.dreamstime.com/b/beautiful-pink-pastel-floral-romantic-background-light-bokeh-banner-66579567.jpg);

  font-family: 'Poppins', sans-serif;
}

.container {
  color: #f40e89;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
}

h1 {
  font-size: 45px;
}

p {
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
}


.input-field {

  align-self: center;
  width: 250px;
  height: 64px;
  margin-left: 10mm;
  line-height: 44px;
}

input {
  /* background-color: aqua; */
  width: 100%;
  border: 0;
  outline: 0;
  padding: 20 rem 0;
  border-bottom: 5px solid #ff0000;
  border-left: 5px solid #ff0000;
  border-right: 5px solid #ff0000;
  border-top:5px solid #ff0000;
  box-shadow: none;
  color: #111;
}

input:invalid {
  outline: 0;

}

input:focus,
input:valid {
  border-color: #00dd22;
}

/*  */
.button_slide {
  color: rgb(27, 24, 99);
  border: 2px solid rgb(216, 2, 134);
  border-radius: 10px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 35px;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #D80286;
}